@model TODOList.Models.Task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Task</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Text)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Completion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Completion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.Text)
    </div>

    <table>
        <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextCategory)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.ListSubtask) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Completion)*@
            
            @using (@Html.BeginForm("ChangeCompliteSubTask", "Task", item))
            {          
            @Html.DisplayFor(modelItem => item.Completion)
            <input type="submit" value="Complite" />
               
            }
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Text)
        </td>
     </tr>
    }
    </table>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TaskId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

