@model IEnumerable<TODOList.Models.Task>

@{
    ViewBag.Title = "Task List";
}

<h2>Task List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Delete completed", "DeleteCompleted")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) { 
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Completion)*@
            
            @using (@Html.BeginForm("ChangeComplite", "Task",  item ))
            {          
            @Html.DisplayFor(modelItem => item.Completion)
            <input type="submit" value="Complite" />
               
            }
            
        </td>
        <td>
            @{
                //TODOList.Controllers.TaskController
                //TODOList.Models.TaskContext db = new TODOList.Models.TaskContext();
                //db.SaveChanges();
                
                //db.Categories.SingleOrDefault(x => x.CategoryId == item.CategoryId);
                //TODOList.Models.Category = db.Categories.SingleOrDefault(x => x.CategoryId == item.CategoryId);
                //string s = db.Categories.SingleOrDefault(x => x.CategoryId == item.CategoryId).Text.ToString();
                }
            @Html.DisplayFor(modelItem => item.Category.Text)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TaskId }) |
            @Html.ActionLink("Details", "Details", new { id = item.TaskId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TaskId })
        </td>
    </tr>
    
}

</table>

