@model IEnumerable<TODOList.Models.Task>

@{
    
    ViewBag.Title = "Task List";
}

<h2>Task List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Delete completed", "DeleteCompleted")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) { 
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Completion)*@
            
            @using (@Html.BeginForm("ChangeComplite", "Task",  item ))
            {          
            @Html.DisplayFor(modelItem => item.Completion)
            <input type="submit" value="Complite" />
               
            }
            
        </td>
        <td>
            @{
                //TODOList.Controllers.TaskController
                //TODOList.Models.TaskContext db = new TODOList.Models.TaskContext();
                //db.SaveChanges();
                
                //db.Categories.SingleOrDefault(x => x.CategoryId == item.CategoryId);
                //TODOList.Models.Category = db.Categories.SingleOrDefault(x => x.CategoryId == item.CategoryId);
                //string s = db.Categories.SingleOrDefault(x => x.CategoryId == item.CategoryId).Text.ToString();
                }
            @Html.DisplayFor(modelItem => item.Category.Text)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TaskId }) |
            @Html.ActionLink("Details", "Details", new { id = item.TaskId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TaskId })
        </td>
    </tr>
    
    //<p>SubTask List</p>
    
    @*List<TODOList.Models.SubTask> ListSubtask = Model.First().ListSubtask;
    if (ListSubtask.Count > 0) 
    {
        TODOList.Models.SubTask subTask = ListSubtask.First(); 
            //@model IEnumerable<TODOList.Models.SubTask>
        //@{ TODOList.Models.SubTask dummyModel = null; }
    //@Html.DisplayNameFor(dummyParam => dummyModel.Text)
    
        //@Html.Partial("SubTask", ListSubtask)
        //@RenderPage("~/Views/SubTask/Index.cshtml",ListSubtask.ToList())
           <tr>
               <th></th>
                <th>
                    @Html.DisplayNameFor(SubTask => SubTask.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(SubTask => SubTask.Completion)
                </th>
                <th>
                    @Html.DisplayNameFor(SubTask => SubTask.TaskId)
                </th>
                <th>
                    @Html.DisplayNameFor(SubTask => SubTask.Category.Text)
                </th>
                <th></th>
            </tr>

            foreach (var item2 in ListSubtask)
            {
            <tr>
                <th></th>
                <td>
                    @Html.DisplayFor(modelItem => item2.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item2.Completion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item2.TaskId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item2.Category.Text)
                </td>
                <td>

              
                    @*
                    @Html.ActionLink("Edit", "Edit", new { id=item2.SubTaskId }) |
                    @Html.ActionLink("Details", "Details", new { id=item2.SubTaskId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item2.SubTaskId }) // not work
                    *@
    @*
                </td>
            </tr>
        }
     }
     else
     {
        <p>SubTask is missing</p>
     }*@

    
    
}

</table>

